<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org">
<head>
	<title>Title</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>

<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		
			
		<div class="collpase navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/penduduk/view">View Penduduk</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/penduduk/tambah">Tambah Penduduk</a>
				</li>	
				
				<li class="nav-item">
					<a class="nav-link" href="/keluarga/view">View Keluarga</a>
				</li>	
				
				<li class="nav-item">
					<a class="nav-link" href="/keluarga/tambah">Tambah Keluarga</a>
				</li>	
			
			</ul>
					
		</div>	
		</nav>	 	
	
	</div>

	
	
</body>

</html>